@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

$red: #ff5d5e;
$light-red: #ff8582;
$light-black: #0B0E21;
$light-gray: #edf2f6;
$lighter-gray: #a4a8b9;
$dark-blue: #292c3f;
$default-font: 'Barlow Condensed', Arial, sans-serif;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin font {
    color: $dark-blue;
    text-transform: uppercase;
}

body {
    font: normal 17px $default-font;
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 4.5% 10%;
    z-index: 1000;
    
    img {
        width: 36px;
        height: 36px;
    }

    .menu {
        display: none;
        background: transparent;

        img {
            height: 25px;
            width: 25px;
        }
    }
    
    ul {
        display: flex;
        list-style: none;

        .login {
            color: $lighter-gray;
        }

        
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 20px;
            
            a {
                @include font;
                font-weight: bolder;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                border-radius: 50%;
                width: 6px;
                height: 6px;
                margin: 0 10px;
                background-color: $lighter-gray;
            }
        }

    }
}

main {
    article {
        display: flex;

        section {
            width: 37%;
            margin: 6.5% 10%;

            h1, h2, a {
                @include font;
            }
        
            h1 {
                margin-top: 18px;
                font-weight: bolder;
                line-height: 75px;
                font-size: 70px;
            }
            
            h2 {
                font: normal 18px $default-font;
                
                mark {
                    font-weight: 600;
                    padding: 3px 12px; 
                    color: white;
                    border-radius: 20px;
                    background-color: #0B0E21;
                }
                
                span {
                    padding: 4px 15px; 
                    letter-spacing: 5px;
                    color: $lighter-gray;
                }
            }
            
            p {
                width: 290px;
                font-size: 25px;
                font-weight: 300;
                color: #707175;
                margin: 28px 0 60px 0;
            }
            
            a {
                font-weight: light;
                text-decoration: none;
                padding: 15px 27px;
            }

            .preview {
                letter-spacing: 2px;
                color: $lighter-gray;
            }
            
            .demo {
                color: white;
                font-weight: 600;
                border-radius: 6px;
                letter-spacing: 1px;
                padding: 15px 34px;
                background-color: $red;
                transition: 250ms;

                &:hover {
                    background-color: $light-red;
                }
            }

        }

        aside {
            width: 50%;
            
            .fundo {
                background-color: $light-gray;
                position: absolute;
                top: 0;
                right: 0;
                border-bottom-left-radius: 60px;
                width: 48%;
                height: 52%;
            }

            img {
                top: 25%;
                right: -18%;
                width: 65%;
                position: absolute;
                overflow: hidden;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $light-black;

    p {
        padding: 7px 0;
        text-align: center;
        color: white;
        a {
            color: white;
        }
    }
}

@media screen {
    @media (max-width: $xxl) {
        header {
            padding: 5% 8%;
        }

        main {
            article {
                section {
                    width: 40%;
                    margin: 5.5% 8%;
    
                    h1 {
                        font-size: 67px;
                    }
    
                    h2, a {
                        font-size: 17px;
                    }
    
                    p {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    @media (max-width: $sm) {
        header {
            padding: 8%;

            img {
                width: 28px;
                height: 28px;
            }

            .menu {
                display: block;
            }

            nav.ativo {
                display: block;
            }

            nav {
                display: none;
                position: absolute;
                padding: 15px;
                width: 76.5%;
                top: 104px;
                border-radius: 4px;
                background-color: white;
                box-shadow: 2px 0 10px #00000021;

                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    li {
                        font-size: 18px;
                        letter-spacing: 1px;

                        span {
                            position: absolute;
                            border-radius: 0;
                            width: 80%;
                            height: 1px;
                        }
                    }
                }
            }
        }

        main {
            article {
                flex-direction: column-reverse;
                section {
                    width: 93%;
                    margin: 7%;
    
                    h1 {
                        font-size: 40px;
                        line-height: 40px;
                    }
    
                    h2 {
                        font-size: 15px;
                    }
    
                    p {
                        margin: 20px 0 40px 0;
                        font-size: 23px;
                    }

                    a {
                        font-size: 13px;
                        padding: 10px;
                    }

                    .preview {
                        color: $lighter-gray;
                    }
                    
                    .demo {
                        color: white;
                        font-weight: 600;
                        border-radius: 6px;
                        letter-spacing: 1px;
                        padding: 10px 25px;
                    }
                }

                aside {
                    width: 100%;
                    height: 280px;
                    
                    img {
                        object-fit: cover;
                        object-position: left;
                        width: 368px;
                        height: 245px;
                        top: 100px;
                        right: 0;
                    }
                }
            }
        }
    }
}