@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: normal 17px "Barlow Condensed", Arial, sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 4.5% 10%;
  z-index: 1000;
}
header img {
  width: 36px;
  height: 36px;
}
header .menu {
  display: none;
  background: transparent;
}
header .menu img {
  height: 18px;
  width: 26px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul .login {
  color: #a4a8b9;
}
header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
}
header ul li a {
  color: #292c3f;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
}
header ul li a:hover {
  text-decoration: underline;
}
header ul li span {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #a4a8b9;
}

main article {
  display: flex;
}
main article section {
  width: 37%;
  margin: 6.5% 10%;
}
main article section h1, main article section h2, main article section a {
  color: #292c3f;
  text-transform: uppercase;
}
main article section h1 {
  margin-top: 18px;
  font-weight: bolder;
  line-height: 75px;
  font-size: 70px;
}
main article section h2 {
  font: normal 18px "Barlow Condensed", Arial, sans-serif;
}
main article section h2 mark {
  font-weight: 600;
  padding: 3px 12px;
  color: white;
  border-radius: 20px;
  background-color: #0B0E21;
}
main article section h2 span {
  padding: 4px 15px;
  letter-spacing: 5px;
  color: #a4a8b9;
}
main article section p {
  width: 290px;
  font-size: 25px;
  font-weight: 300;
  color: #707175;
  margin: 28px 0 60px 0;
}
main article section a {
  font-weight: light;
  text-decoration: none;
  padding: 15px 27px;
}
main article section .preview {
  letter-spacing: 2px;
  color: #a4a8b9;
}
main article section .demo {
  color: white;
  font-weight: 600;
  border-radius: 6px;
  letter-spacing: 1px;
  padding: 15px 34px;
  background-color: #ff5d5e;
  transition: 250ms;
}
main article section .demo:hover {
  background-color: #ff8582;
}
main article aside {
  width: 50%;
}
main article aside .fundo {
  background-color: #edf2f6;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
  width: 48%;
  height: 52%;
}
main article aside img {
  top: 25%;
  right: -23%;
  width: 70%;
  position: absolute;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0B0E21;
}
footer p {
  padding: 7px;
  text-align: center;
  color: white;
}
footer p a {
  color: white;
}

@media screen and (max-width: 1400px) {
  header {
    padding: 5% 8%;
  }
  main article section {
    width: 40%;
    margin: 5.5% 8%;
  }
  main article section h1 {
    font-size: 67px;
  }
  main article section h2, main article section a {
    font-size: 17px;
  }
  main article section p {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  header {
    padding: 8%;
  }
  header img {
    width: 28px;
    height: 28px;
  }
  header .menu {
    display: block;
  }
  header nav {
    display: none;
    position: absolute;
    padding: 15px;
    width: 80%;
    top: 104px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1294117647);
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header nav ul li {
    font-size: 18px;
    letter-spacing: 1px;
  }
  header nav ul li span {
    position: absolute;
    border-radius: 0;
    width: 80%;
    height: 1px;
  }
  main article {
    flex-direction: column-reverse;
  }
  main article section {
    width: 90%;
    margin: 7%;
  }
  main article section h1 {
    font-size: 40px;
    line-height: 40px;
  }
  main article section h2 {
    font-size: 15px;
  }
  main article section p {
    margin: 20px 0 40px 0;
    font-size: 23px;
  }
  main article section a {
    font-size: 13px;
    padding: 10px;
  }
  main article section .preview {
    color: #a4a8b9;
  }
  main article section .demo {
    color: white;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 1px;
    padding: 10px 25px;
  }
  main article aside {
    width: 90%;
  }
  main article aside img {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
